body.light {
  background-color: #e3e4e4;
  color: #40343b;
}

body.dark {
  background-color: #40343b;
  color: #f8f9fa;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f9fa;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(223, 156, 221); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #684968; 
}
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #d5afcf;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #1f181e;
}

.container-content {
  padding: 20px;
}
